/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html{
	border-top: 10px solid #888C97;
	background-image: url(knitted-yarn-002004-charcoal.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}

body {
	width: 70%;
	margin: 20px auto;
	background-color: #dddddd;
	padding: 20px 40px;
	border: 1px solid #ccc;
	font-family: Noticia, serif;
	color: #402132;
}
header {
	color: #ccc;
	padding: 20px;
	background-color: #234F59;
}

header h1 {
	color: #ccc;
	font-style: none;
	font-size: 300%;
	text-align: center;
	font-family: Noticia, serif;
}

nav ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	text-align: center;
	color: #ccc;
}

nav li {
	display: inline;
}

footer ul {
	list-style: none;
}
footer li {
	display: inline;
}

header a:link {color: #ccc;}
header a:visited {color: #ccc;}
header a:hover {color: #ccc;}
header a:focus {color: #ccc;}
header a:active {color: #ccc;}

a:link {color: #402132;}
a:visited {color: #402132;}
a:hover {color: #ccc;}
a:focus {color: #402132;}
a:active {color: #402132;}

table {
	width: 100%;
}

thead th {
	border-bottom: 2px solid #ccc;
	text-align: left;
}

th,
td {
	padding: 5px 0;
}

tbody tr {
	background-color: #eee;
}

tbody tr:nth-child(even) {
	background-color: #fff;
}

