/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html{
	background-color: #eee;
}
body {
	width: 70%;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px 40px;
	border: 1px solid #ccc;
}
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

nav li {
	display: inline;
}

header a:link {color: #fff;}
header a:visited {color: #fff;}
header a:hover {color: #fff;}
header a:focus {color: #fff;}
header a:active {color: #fff;}